[user]
	email = pascal.jaeger@leimstift.de
	name = Pascal Jäger
	signingkey = 9DF5441454F67138
[gpg]
	program = gpg2
[commit]
	gpgsign = true
[safe]
	directory = /var/db/repos/guru
	directory = /var/db/repos/gentoo
	directory = /var/db/repos/gentoo
[alias]
l = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
c = checkout
cb = checkout -b
s = status --short
[init]
	defaultBranch = main
[github]
	user = Schievel1
[core]
	editor = vim
